@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.hero {
  background-image: url('/assets/hero_index.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.impresora-uno {
  background-image: url('/assets/impresion-dual.jpg');
}
.impresora-dos {
  background-image: url('/assets/impresion-simetrica.jpg');
}

.impresora-tres {
  background-image: url('/assets/impresion-metal.jpg');
}

/* .escaneres_intem:nth-child(2),
.escaneres_intem:nth-child(4) {
  justify-self: end;
} */

.modalSlider {
  transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.escaneres_intem::after {
  content: '';
  height: 1px;
  background-color: #020202;
  width: 50%;
  position: absolute;
  bottom: 0;
  transition: width 0.8s cubic-bezier(0.76, 0, 0.24, 1);
}

.escaneres_intem:hover::after {
  width: 100%;
}

.clonDigital {
  background-image: url('/assets/logo-clon-digital-blanco.png.webp');
}

.domoBio {
  background-image: url('/assets/logo-domobio-negro.png.webp');
}

.aulaFuturo {
  background-image: url('/assets/logo-aula-del-futuro-negro.png.webp');
}

.prevIcon {
  background-image: url('/assets/icons/8666557_chevron_left_icon.png');
  background-size: 50%;
}

.nextIcon {
  background-image: url('/assets/icons/8666777_chevron_right_arrow_icon.png');
  background-size: 50%;
}

.postUno {
  background-image: url('/assets/Blog_Posts/curso_3d.webp');
}

.postDos {
  background-image: url('/assets/Blog_Posts/partner_it3d.webp');
}

.postTres {
  background-image: url('/assets/Blog_Posts/inauguracion.webp');
}

.facebook {
  background-image: url('/assets/icons/facebook.png');
}

.instagram {
  background-image: url('/assets/icons/instagram.png');
}

.twitter {
  background-image: url('/assets/icons/x.png');
}

.youtube {
  background-image: url('/assets/icons/youtube.png');
}

.linkedin {
  background-image: url('/assets/icons/linkedin.png');
}

/* .prueba-1 {
  background-image: url('/assets/pexels-steve-30177090.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.prueba-2 {
  background-image: url('/assets/pexels-thisisengineering-3862372.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
} */
.menuDesplegable:hover > div {
  width: 100%;
}
